<%= form_with(model: snippet, local: true) do |form| %>
  <% if snippet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
      <ul>
        <% snippet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.text_field :user, required: true %>
  </div>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.select :language,
                    grouped_options_for_select({
                                                 "Frontend" => ['css', 'html', 'javascript'],
                                                 "Backend" => ['c', 'clojure', 'cpp', 'delphi', 'groovy', 'java', 'json', 'lua', 'perl', 'php', 'python', 'ruby'],
                                                 "Markup / Templating" => ['erb', 'haml', 'rhtml', 'xhtml', 'xml', 'yaml'],
                                                 "Data / Config" => ['json', 'yaml'],
                                                 "Misc / Tools" => ['diff', 'sass', 'sql', 'taskpaper', 'text'],
                                                 "Other" => ["other languages(Coderay does not support it WILL NOT COLOR CODE )"]
                                               }.transform_values { |langs| langs.sort }, snippet.language),
                    { prompt: "-- Select a Language --" },
                    { required: true } %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :codeSnippet, style: "display: block" %>
    <%= form.text_area :codeSnippet, required: true %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>

