<div id="<%= dom_id snippet %>">
  <p>
    <strong>User:</strong>
    <%= snippet.user %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= snippet.description %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= snippet.language %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= snippet.codeSnippet %>
  </p>

</div>
