<p class="notice"><%= notice %></p>

<% content_for :title, "Snippets" %>

<h1 class="page-title">Snippets</h1>



<%= form_with url: snippets_path, method: :get, local: true do %>
  <label for="language">Filter by:</label>
  <%= select_tag :language, options_for_select(Snippet.distinct.pluck(:language).sort, params[:language]), include_blank: "All Languages" %>
  <%= submit_tag "Filter", class: "btn btn-filter" %>
<% end %>

<div class="new-snippet-link">
  <br>
  <%= link_to "New Snippet", new_snippet_path, class: "btn btn-primary" %>
</div>

<div id="snippets" class="snippet-list">
  <% @snippets.each do |snippet| %>
    <div class="snippet-card">
      <%= render snippet %>

      <div class="snippet-actions">
        <%= link_to "Show", snippet, class: "btn btn-show" %>
        <%= link_to "Edit", edit_snippet_path(snippet), class: "btn btn-edit" %>
        <%= link_to "Delete", snippet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

