<p class="notice"><%= notice %></p>

<% content_for :title, "Snippets" %>

<h1 class="page-title">Snippets</h1>

<div id="snippets" class="snippet-list">
  <% @snippets.each do |snippet| %>
    <div class="snippet-card">
      <%= render snippet %>

      <div class="snippet-actions">
        <%= link_to "Show", snippet, class: "btn btn-show" %>
        <%= link_to "Edit", edit_snippet_path(snippet), class: "btn btn-edit" %>
        <%= link_to "Delete", snippet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<div class="new-snippet-link">
  <%= link_to "New Snippet", new_snippet_path, class: "btn btn-primary" %>
</div>