<p style="color: green"><%= notice %></p>

<h2><%= @snippet.language.capitalize %> Code</h2>

<button id="copyButton" style="margin-bottom: 10px;">Copy Code</button>

<% highlighted_code = CodeRay.scan(@snippet.codeSnippet, @snippet.language.downcase.to_sym).div(css: :class).html_safe %>
<%= highlighted_code %>

<p><strong>Description:</strong></p>
<p><%= simple_format(@snippet.description) %></p>

<div class="snippet-actions">
  <%= link_to "Edit this snippet", edit_snippet_path(@snippet), class: "btn btn-blue" %>
  <%= link_to "Back to snippets", snippets_path, class: "btn btn-blue" %>
</div>

<div class="snippet-actions">
  <%= button_to "Destroy this snippet", @snippet, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("copyButton");
        const codeContainer = document.querySelector(".CodeRay");

        button.addEventListener("click", () => {
            const tempElement = document.createElement("textarea");
            tempElement.value = codeContainer.innerText;
            document.body.appendChild(tempElement);
            tempElement.select();
            document.execCommand("copy");
            document.body.removeChild(tempElement);
            button.innerText = "Copied!";
            setTimeout(() => {
                button.innerText = "Copy Code";
            }, 2000);
        });
    });
</script>